.bubble {
  display: inline-block;
  padding: var(--space-125) var(--space-150);
  border-radius: var(--radius-300);
  border-bottom-right-radius: var(--radius-100);
  background: var(--brand-60);
  color: var(--white);
  font-size: var(--font-size-300);
  line-height: var(--line-height-300);
  max-width: 80%;
}

.caption {
  display: block;
  margin-top: var(--space-050);
  font-size: var(--font-size-200);
  opacity: var(--opacity-072);
}
